{% include 'base/layout.html' %}

{% block body %}
<div class="container">

    <h1>Cars</h1>
    <div class="row row-cols-1 row-cols-md-2 g-5 mt-5">
        {% for car in cars %}
        <div class="col">
            <div class="card h-100">
                <img src="{{car.image.url}}" class="card-img-top" alt="car image" style="width: auto; height: 35vh; object-fit: cover;">
            
              
              <div class="card-body">
                <h5 class="card-title">Make: {{car.make}}</h5>
                <h6 class="card-title">Model: {{car.model}}</h6>
                <p class="card-text">{{car.description | truncatechars:200}}</p>
                <p class="card-text">Address: <strong>{{car.address}}</strong></p>
                <p class="card-text"><small class="text-muted">{{car.uploaded_at | timesince}} ago</small></p>
              </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Condition: <strong>{{ car.condition }} - {{car.condition_rating}}/10</strong></li>
                <li class="list-group-item">Year: <strong>{{ car.model_year }}</strong></li>
                <li class="list-group-item">Price: <strong>${{ car.price }}</strong></li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>            
            </div>
          </div>
        {% empty %}
        <p>No Cars added yet <br> Feel free to ask questions, <a href="{% url 'inquiry' %}">here</a></p>

        {% endfor %}
    </div>
</div>

{% endblock body %}
