{% include 'base/layout.html' %}

{% block body %}
<div class="container">

    <h1>Cars</h1>

    <div class="row">
        {% for car in cars %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ car.image.url }}" class="card-img-top" alt="car-img">
                <div class="card-body">
                    <h5 class="card-title">{{ car.make }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Details</a>
                </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}