{% include 'base/layout.html' %}




{% block body %}
<div class="container">
  <h1>Cars</h1>

{% comment %} Filters {% endcomment %}
    <form class="row border border shadow-sm p-2" action="" method="POST">
      {% csrf_token %}
      <h5>Filter cars</h5>
      <div class="col-sm-12 col-md-3 mt-2">
        <label for="">Make</label>
        <input type="text" name="filter_make" class="form-control form-control-sm" list="filter_make_list" placeholder="Type and select from available makes" autocomplete="off">

        <datalist id="filter_make_list">
          {% for obj in available_makes %}
          <option value="{{ obj }}">
          {% endfor %}
        </datalist>

      </div>


      <div class="col-sm-12 col-md-3 mt-2">
        <div class="row">
          <div class="col-6">
            <label for="">Lowest Price</label>
            <input type="number" name="filter_price_low" class="form-control form-control-sm">
          </div>
          <div class="col-6">
            <label for="">Higest Price</label>
            <input type="number" name="filter_price_high" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 mt-2">
        <label for="">Sort by Price</label> <br>
        
        <div class="form-check form-check-inline">
          <input class="form-check-input mt-2" type="radio" name="sort_radio" id="sort_radio1"  value="high_low">
          <label class="form-check-label" for="sort_radio1">
            <i class="bi bi-sort-numeric-up-alt fs-4"></i>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input mt-2" type="radio" name="sort_radio" id="sort_radio2" value="low_high" checked>
          <label class="form-check-label" for="sort_radio2">
            
            <i class="bi bi-sort-numeric-down fs-4"></i>
          </label>
        </div>

      </div>
      <div class="col-sm-12 col-md-3 mt-2">
        <label for=""></label>
        <button type="submit" class="btn btn-sm btn-outline-secondary form-control">Filter & sort</button>
      </div>
    </form>



    <div class="row row-cols-1 row-cols-md-2 g-5 mt-3">
        {% for car in cars %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% if car.image %}{{car.image.url}}{% endif %}" class="card-img-top" alt="car image" style="width: auto; height: 35vh; object-fit: cover;">
                {% if car.sold %}
                <div class="card-img-overlay">
                  <h5 class="card-title text-bg-dark opacity-75 p-2 mt-5 text-center">Sold</h5>
                </div>
                {% endif %}
            
              <div class="card-body">
                <h5 class="card-title">Make: {{car.make}}</h5>
                <h6 class="card-title">Model: {{car.model}}</h6>
                <p class="card-text">{{car.description | truncatechars:140}} </p>
                <p class="card-text"><small class="text-muted">{{car.uploaded_at | timesince}} ago</small></p>
              </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Year: <strong>{{ car.model_year }}</strong></li>
                <li class="list-group-item">Price: <strong>${{ car.price }}</strong></li>
            </ul>

            <div class="card-body">
              <a href="#" class="btn btn-sm btn-secondary stretched-link" data-bs-toggle="modal" data-bs-target="#car_{{car.id}}">View</a>          
            </div>
            </div>
          </div>
        {% empty %}
        <p>No Cars added yet <br> Feel free to ask questions, <a href="{% url 'inquiry' %}">here</a></p>

        {% endfor %}
    </div>
</div>


{% comment %} Car Details : Modals {% endcomment %}
{% for car in cars %}
<div class="modal animate__animated animate__fadeIn animate__faster py-5" id="car_{{car.id}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">{{car.make}} - {{car.model}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-6">
                <img src="{% if car.image %}{{car.image.url}}{% endif %}" class="img-fluid rounded-start" alt="IMG" style="width: auto; object-fit: cover;">
              </div>
              <div class="col-md-6">

                <div class="card-body pl-5">

                  <dl class="row">
                    <dt class="col-sm-4">Make</dt>
                    <dd class="col-sm-8">{{ car.make }}</dd>

                    <dt class="col-sm-4">Model</dt>
                    <dd class="col-sm-8">{{ car.model }}</dd>

                    <dt class="col-sm-4">Model Year</dt>
                    <dd class="col-sm-8">{{ car.model_year }}</dd>

                    <dt class="col-sm-4">Condition</dt>
                    <dd class="col-sm-8">{{ car.condition }}</dd>

                    <dt class="col-sm-4">Condition Rating</dt>
                    <dd class="col-sm-8">{{ car.condition_rating }}/10</dd>

                    <dt class="col-sm-4">Description</dt>
                    <dd class="col-sm-8">{{ car.description | linebreaks }}</dd>


                    <dt class="col-sm-4">Address</dt>
                    <dd class="col-sm-8">{{ car.address }}</dd>

                    <dt class="col-sm-4">Uploaded at</dt>
                    <dd class="col-sm-8">{{ car.uploaded_at }}</dd>
                    <dt class="col-sm-4">Modified at</dt>
                    <dd class="col-sm-8">{{ car.modified_at }}</dd>
                    <dt class="col-sm-4">Price</dt>
                    <dd class="col-sm-8">${{ car.price }}</dd>
                  </dl>

                  <a href="{% url 'book_ride' car.id %}" class="btn btn-dark form-control {% if car.sold %} disabled {% endif %}">
                    {% if car.sold %}
                    Sold out
                    {% else %}
                    Book Ride
                    {% if request.user.is_authenticated %}
                    (as {{request.user.username}})
                    {% else %}
                    (account required)
                    {% endif %}
                    {% endif %}

                  </a>

                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
</div>
{% endfor %}

{% endblock body %}
